body {
  background-color: #000;
  color: #D2B48C;
  font-family: 'Nothing You Could Do', arial, helvetica, sans-serif;
  font-size: 2em;
  line-height: 1.4em;
  background-image:url('http://nowviskie.org/images/tempest-teacup.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;  
}
h2 {
  color: #FFDEAD;
}
a {
  color: #B0C4DE;
  text-decoration: none;
}
a:visited {
    color: #B0C4DE; 
}
a:hover {
  color: #87CEFA;
}
.main {
  padding: 1em;
  /* width: 40%;
  background-color: #fff;
  opacity: 0.8;
  filter:alpha(opacity=80); */
}
ul, li {
    list-style-type: none;
}
